// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

//Nice Admin Pro
@import "niceadmin-pro/style.scss";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// DataTables
@import "bootstrap-icons/font/bootstrap-icons.css";

// Font-Awesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/css/all.css";
